/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css");

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
}

a{
    text-decoration: none;
}
