<table class="table is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of trays | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage}">
        <td ><a href="/trays/{{item.id}}">{{ item.name }}</a></td>
        <td>${{ item.price }}</td>
      </tr>
    </tbody>
  </table>

<div class="pagination is-centered">
  <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
</div>