<div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img src="https://cdn-icons-png.flaticon.com/512/6432/6432741.png" >
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-8">{{tray.name}}</p>
        </div>
      </div>
  
      <div class="content">
        <p class="title is-4">{{tray.description}} </p>
        <b>Size:</b> {{tray.size}}
        <b>Exp:</b> {{tray.expiration}}
        <b>Price:</b> {{tray.price}}
      </div>
    </div>
  </div>

<div>
    <tr *ngFor="let item of tray.courses">
        <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                  <img src={{item.img_url}}>
                </figure>
              </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4"><a routerLink="/courses/{{item.id}}">{{item.name}}</a></p>
                  <p class="subtitle is-6">Cat: {{item.category}}</p>
                </div>
              </div>
            </div>
          </div>
      </tr>
</div>